.projectPage div {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.projectPage ul {
    columns: 2;
    list-style: none;
}

.projectPage img {
    width:600px;
    height: 400px;
}

.projectPage h1 {
    font-family: 'Cardo', serif;
    font-style: bold;
}

.projectPage h3 {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {
    .projectPage img {
        width: "560";
        height: "315";
    }
    .projectPage iframe {
        width: "560";
        height: "315";
    }
}