body {
    background-image: url("images/kenrick-mills-vines-unsplash.jpg");
    background-color: #0000;
    background-repeat: repeat;

    color: white;
    text-align: center;
   }

div {
    background-color: darkcyan;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
}

.topNav ul{
    columns: 4;
    list-style: none;
}

.topNav h1{
    padding: 0%;
    font-size: xx-large;
    font-style: bold;
}

.topNav button{
    padding: 5%;
    margin-top: 5%;
    font-size: large;
    color:  white;
    background-color: darkslateblue;
}